$c-brand-primary: #3473b5;
$c-brand-white: #fff;
$c-max-width: 60rem;

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome/scss/font-awesome';
@import 'box-sizing';

@import 'resets';


.grid {
  margin: 1rem;
}

.outer {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  background: $c-brand-primary;
}

.inner {
  flex-grow: 1;
  width: calc(100% * 1 /3 - 1rem - 1rem);
  max-width: $c-max-width;
  background: $c-brand-white;
}
