$c-brand-primary: #3473b5;

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome/scss/font-awesome';
@import 'box-sizing';


.grid {
  margin: 1;
}

.outer {
  padding: 1rem;
  background: $c-brand-primary;
}
