$c-brand-primary: #3473b5;
$c-brand-white: #fff;
$c-pink: #e577aa;
$c-blue: #72bbe9;
$c-green: #7abe93;
$c-yellow: #e5b178;
$c-max-width: 60rem;

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome/scss/font-awesome';
@import 'box-sizing';

@import 'resets';

.container {
  margin: 1rem;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  color: $c-brand-primary;

  &__item {
    width: calc(100% * 1 / 3 - 1rem - 1rem);
    margin: 1rem;
    text-align: center;
    // border: 0.5rem solid black;


  }
}

.shop-item {
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  border: 0.1rem solid $c-brand-primary;


  &__pic {
    padding: 1rem;
  }


  &__details {
    // position: relative;
    padding: 1rem;
  }

  &__actions {
    display: flex;
    padding: 0;
    // border-top: 0.06rem solid;
  }


  &__actions-btn {
    width: calc(100% * 1 / 5);
    padding: 0.5rem;
    border: 0.1rem solid $c-brand-primary;
    background: $c-brand-white;
    color: $c-brand-primary;

    &:hover {
      background: invert($c-brand-white);
      cursor: pointer;

    }
  }
}


.shop-menu {
  position: relative;

  &__tooltip {
    // display: none;
    position: absolute;
    bottom: 64%;
    left: -1%;
}

  &__tooltip-item {
    // display: none;

    &:hover span {
      padding: 0.5rem;
      border: 0.5rem solid;
      transform: scale(1.2);
      cursor: pointer;
  }
}
}
